apptainer.enabled = true

params {
    defaults {
        minMapq = 30
    }

    aggregate {
        agg {}
    }

    sampleSelectionStrategies {
        all {}
    }

    matrices {
        mx {
            sampleSelectionStrategy = "all"
            resolutions = [10, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000, 20000, 50000, 200000, 500000, 1000000, 2000000, 5000000]
        }
    }

    hicrep {
        default {
            sampleSelectionStrategy = "all"
            hicrep_combinations_opts {
                "-r": [10000, 100000, 1000000]
            }
        }
    }

    loops {
        default {
            sampleSelectionStrategy = "all"
        }
    }

    differentialLoops {}

    insulation {
        default {
            sampleSelectionStrategy = "all"
        }
    }

    compartments {
        default {
            sampleSelectionStrategy = "all"
        }
    }

    tads {
        default {
            sampleSelectionStrategy = "all"
        }
    }
}