work
.nextflow*
.vscode
.ipynb_checkpoints
fastq
resources
hg38.fna
hisham
results
prototype/data
.gitignore
scripts/hich/Mock*
scripts/hich/GRCh38*
scripts/hich/mock*
scripts/hich/*.bw
.hypothesis
vignettes/sciMET_GCC/*
vignettes/sciMET_GCC/240802_T1_1_1_select.pairs.gz
vignettes/hictk/*
scripts/hich/hich/__pypycache/*