work
.nextflow*
.vscode
.ipynb_checkpoints
fastq
resources
hg38.fna
hisham
results
bam
pairs
prototypes
.gitignore
samples.csv
samples.tsv
scripts/hich/Mock*
scripts/hich/GRCh38*
scripts/hich/mock*
scripts/hich/*.bw