docker.enabled = true
apptainer.enabled = false
conda.enabled = false
docker.runOptions = '-u $(id -u):$(id -g)'

params {
    general {
        alignmentContainer = "hich_alignment:latest"
        chromsizesContainer = "quay.io/biocontainers/ucsc-fasize:332--0"
        coolerContainer = "hich_cooler:latest"
        hicexplorerContainer = "hich_hicexplorer:latest"
        hichContainer = "hich_tools:latest"
        hictkContainer = "hich_hictk:latest"
        juicerContainer = "hich_juicer:latest"
        multiqcContainer = "hich_multiqc:latest"
        mustacheContainer = "hich_mustache:latest"
    }
}
